<md-toolbar *ngIf="!selection" style="background-color:#ddd;" >
    <button [routerLink]="['/AdminPanel/Dashboard']" md-fab class="md-mini md-primary" aria-label="go back!">
      <i md-icon>fast_rewind</i>
    </button>
    {{'Users' | translate}}
</md-toolbar>

<md-toolbar style="background-color:#ddd;" *ngIf="selection">
    <span>{{count}} {{'user' | translate}}{{count > 1 ? 's' : ''}} {{'selected' | translate}}{{count > 1 ? 's' : ''}}</span>
    <span flex hide show-gt-md></span>
    <span class="md-caption" hide show-gt-md>{{selection}}</span>
</md-toolbar>
<div style="background-color: whitesmoke; height: 50px; padding-top:5px; width:100%;">
    <button [routerLink]="['/AdminPanel/Users/Add']" md-fab class="md-mini md-primary" aria-label="Use Android">
      <i md-icon>plus_one</i>
    </button>

    <button *ngIf="selection" md-fab class="md-mini md-primary" (click)="deleteUsers()" aria-label="Delete selected users">
      <i md-icon>delete_forever</i>
    </button>
</div>
<div *ngIf="loadingUsers">Loading users...</div>
<md-data-table *ngIf="!loadingUsers" layout-fill [selectable]="true" (onSelectableChange)="change($event)">
    <thead>
        <tr md-data-table-header-selectable-row>
        <th style="width:30px; max-width: 50px;">id</th>
        <th class="md-text-cell">{{'User' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | paginate:{currentPage: curPage.get(), itemsPerPage: pageSize, totalItems: usersSize}" md-data-table-selectable-row [selectable-value]="user._id">
            <td>{{ user._id }}</td>
            <td class="md-text-cell">{{ user | displayName }}</td>
        </tr>
    </tbody>
</md-data-table>
<pagination-controls (change)="onPageChanged($event.page)"></pagination-controls>